@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');

* {

    background-color: var(--cor-de-fundo);
    font-family: 'Chivo Mono', monospace;
}


:root {
    --cor-de-fundo: #F5F5F5;
    --cor-dos-paragrafos: #333333;
    --cor-dos-titulos: #0C2340;
    --cor-dos-links: #008000;
    --cor-de-destaque: #7F00FF;
    --cor-de-cta: #FFD700;
}

main {
    justify-content: center;
    text-align: center;
}

p {
    color: var(--cor-dos-paragrafos);
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    text-align: justify;
}

h1,
h2,
h3 {
    color: var(--cor-dos-titulos);
    text-align: center  ;
}

#main.hide {
    opacity: 0;
    transition: opacity 0.5s;
}



#logo {
    max-width: 25vw;
    height: auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

}

nav, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: #0066CC;
    padding: 10px 30px;
    border: 2px solid #0066cc;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}


button:hover {

    transition: 1000ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background-color: #fff;
    color: #0066cc;
    border: solid 2px #0066cc;
}
img {
    max-width: 80%;
    max-height: auto;
}
a {
    text-decoration: none;
}